body {
  background-image: linear-gradient(#fff);
}

.container {
  max-width: 8000px;
}

.pricing-header {
  max-width: 700px;
}

.footer {
  position: absolute;
  top: 700px;
}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: -50px;
}

.forml-lunch {
  width: 100px;
  text-align: center;
}

.forml-completo {
  width: 100px;
  text-align: center;
}

.inputscomp {
  width: 100px;
  height: 40px;
  align-items: center;
  position: relative;
  left: 39%;
}

#pagar {
  width: 200px;
  position: relative;
}

#btn99 {
  width: 200px;
  left: 440px;
  margin-top: 20px;
  position: relative;
}

#agregar {
  width: 200px;
  left: -110px;
}

#agregar {
  position: relative;
  right: 39%;
}

#agregar1 {
  align-items: center;
  left: 29%;
  height: 50px;
}

#demo6 {
  font-weight: bold;
}

#totalcombos {
  font-weight: bold;
}

#card-resumen {
  position: relative;
  left: 22%;
}

#formacheckout {
  position: relative;
  left: 395px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: -11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
